@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: url('IMAGES/pixelcut-export.png');
    background-repeat:repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size:cover;

    
}

@media (max-width: 768px) {
    body {
        background-position: start center;
    }
}  


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

li,a,button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

@media (max-width: 480px) {
    li,a,button {
        font-weight: 500;
        font-size: 10px;
        color: red;
    }
  }

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    color: #edf0f1;
    text-decoration: none;
}

li,a,button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    height: 125px;
    width: auto;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}



.logo:hover {
    animation: shake 0.5s;

}

header .nav_links {
    list-style: none;
}

header .nav_links li{
    display: inline-block;
    padding: 0 20px;
}

header .nav_links li a {
    transition: all 0.5s ease 0s;
}

 header nav .nav_links li a:hover {
    transition: .3s;
    color: #29ddfb;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #29ddfb, 0 0 40px #29ddfb;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f35bf9, 0 0 40px #f35bf9, 0 0 50px #f35bf9;
    }
  }

button {
    background-color: rgba(255, 255, 255, 00);
    padding: 15px 35px;
    border: solid 2.5px rgba(41, 221, 251,1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta {
    margin: 0 0 0 50px ;
}



button:hover {
    background-color: rgba(41, 221, 251,0.5);
}



/* Hero Section Style */

.hero {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    min-height: 50vh;
    color: #edf0f1;
}

.hero p {
    max-width: 500px;
    text-align: center;
}

.hero h1 {
    text-align: center;
    letter-spacing: 3px;
    padding: 60px 0;
    font-family: 'Montserrat', sans-serif;
}

.hero button {
    margin: 40px;
    padding: 15px 35px;
}

/* About Us */

.about {
    margin: 200px 0 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    min-height: 50vh;
    color: #edf0f1;
}

@media (max-width: 480px) {
    .about {
        flex-direction: column;
        margin: 100px 0 100px 0;
        
    }

    .left img {
        width: 200px;
    }
  }

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        margin: 100px 0 100px 0;
        padding: 10px;
        
    }

    .left img {
        width: 200px;
    }
}  

.about .left {
    margin-right: 50px;
}

.about .right {
    margin-left: 40px;
}

.about p {
    max-width: 500px;
    text-align: center;
}

.about h1 {
    text-align: center;
    letter-spacing: 3px;
    padding: 60px 0;
    font-family: 'Montserrat', sans-serif;
}

/* Support */

.support {
    margin: 200px 0 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 50vh;
    color: #edf0f1;
}

@media (max-width: 480px) {
    .support {
        margin: 100px 0 100px 0;
        padding: 0;
    }
  }

.support .left {
    margin-right: 50px;
}

.support .right {
    margin-left: 40px;
}

.support p {
    max-width: 500px;
    text-align: center;
}

.support h1 {
    text-align: center;
    letter-spacing: 3px;
    padding: 60px 0;
    font-family: 'Montserrat', sans-serif;
}

/* footer */

footer {
    height: 4rem;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex: 0;
}

footer .right {
    margin-right: 25px;
}

footer .right p {
    font-size: 10px;
}
footer .right br {
    text-decoration: underline;
    font-weight: 600;   
}

footer .left {
    flex-grow: 1;
    margin-left: 25px;
}



footer .nav_links {
    list-style: none;
}

footer .nav_links a {
    font-size: 11px;
    font-weight: 400;
}

footer .nav_links li{
    display: inline-block;
    padding: 0 20px;
}

footer .nav_links li a {
    transition: all 0.5s ease 0s;
}

footer .nav_links li a:hover {
    transition: .3s;
    color: #29ddfb;
    animation: glow 1s ease-in-out infinite alternate;
}
